<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FerreteriaMVVM.Properties.Settings._2dam09ConnectionString"
            connectionString="Data Source=&quot;192.168.1.100, 10401&quot;;Initial Catalog=2dam09;User ID=2dam09;Password=50563624X_S22"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>